package main

/**
* Generated automatically from swagger-codegen. Don't edit here! There's no point :)
**/


import (
	// WARNING!
	// Change this to a fully-qualified import path
	// once you place this file into your project.
	// For example,
	//
	//    sw "github.com/myname/myrepo/{{apiPath}}"
	//
    "quickflickserver"
	"log"
)

func main() {
    log.Printf("Server started")

    m := api.NewRouter()
    m.Run(":{{listen_port}}")
}
